/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    margin-right: 30px;
    cursor: pointer;
}

.btn {
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    width: 160px;
    height: 58px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 226px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top 38px left 23px;
}

.banner {
    padding: 38px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;
    margin-left: 71px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    max-width: 585px;
}

.banner .profile-pic {
    width: 584px;
    height: 676px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section styles */
.about {
    padding: 209px 156px 221px;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

#what-i-do-description {
    padding: 30px 156px;
}

/* skills related styles */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 0px;
}

.skill-description,
.resume-item-description {
    color: #757575;
    font-size: 16px;
}

/* resume section styles */
.resume-container {
    display: flex;
    margin-top: 113px;
}

.resume-container hr {
    margin: 30px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer related styles */
footer {
    display: flex;
    background-color: #FFF8F3;
    gap: 117px;
    margin-top: 131px;
    padding: 130px 230px;
}

.footer-column {
    width: 50%;
}

.social-links a {
    margin-right: 24px;
}

.contact input[type="text"],
.contact input[type="password"],
textarea {
    color: #757575;
    display: block;
    margin-bottom: 24px;
    padding: 18px 30px;
    border-radius: 5px;
    background-color: #FFF;
    border: 0;
    width: 100%;
}

/* responsive styles */
/* mobile devices */
@media screen and (max-width:576px) {
    .header {
        background-image: none;
    }

    nav,
    nav>ul,
    .banner,
    .skills-container,
    .resume-container,
    footer,
    .about-info-container {
        flex-direction: column;
    }

    nav>ul {
        gap: 10px;
    }

    .banner .profile-pic {
        max-width: 100%;
        height: auto;
    }

    #what-i-do-description {
        padding: 20px;
    }

    footer,
    .about,
    .banner {
        padding: 10px;
    }

    .btn-primary {
        margin-bottom: 10px;
    }

    .footer-column {
        width: 100%;
    }

    .contact input[type="text"],
    .contact input[type="password"],
    textarea {
        width: 80%;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {

    .skills-container,
    .resume-container {
        flex-direction: column;
    }

    footer {
        padding: 30px;
    }

    .btn-primary {
        margin-bottom: 10px;
    }
}